**Data Types and Structures Questions**

Q1.What are data structures, and why are they important?

Ans. A data structure is a way of organizing, managing, and storing data in a computer so that it can be accessed and used efficiently.Data structure are fundamental building blocks in computer science and programing.

Importance of data structure

1.Efficiency

2.Data management

3.scalability

4.Problem solving.

Q2. Explain the difference between mutable and immutable data types with examples.

Ans.Mutable data types means the data type whose state and value can be changed after they are created.For e.g.int,float,list etc.

Immutable data types means the data types whose state and value can't be changed after they are created.For e.g. tuple,string etc.

Q3.What are the main differences between lists and tuples in Python?

Ans.The main difference between lists and tuple is mutability.The list mutable and tuple is immutable.

Q4.Describe how dictionaries store data.

Ans.Dictionaries in python stored unordered collection of data in the form of key-value pair.They provide efficient lookup, insertion, and deletion operations.

1.Hash table structure

2.Key hashing

3.Key-value storage

4.Resizing the hash table

Q5.Why might you use a set instead of a list in Python?

Ans.**Set**:

a.It doesn't allow duplicate element

b.It stores unordered collection of data making it suitable where ordered collection of data is not matter.

c.Due to it is unordered it  doesn't allow indexing which in return give unique element.

d.It supports mathematical Set operations like union(|),Intersection(&),Difference(-),Symmetric differences.

e.It is more useful when there is large data sets to removing duplicates.

Q6.What is a string in Python, and how is it different from a list?

Ans. a. String in python is a sequence of characters used to represent text which is enclosed in single,double and triple quotes while a list is designed to store ordered collection of various data type.

b. List is mutable and string is immutable.

c.String only consists a character where list contain elements of any data type.

Q7.How do tuples ensure data integrity in Python?

Ans.Tuples in Python help ensure data integrity through their immutability and other characteristics.

a.Immutability-which prevents modifications.

b.Hashability - allowing use in dictionaries and sets

c.Predictability.Guarantee fixed and reliable data.

Q8.What is a hash table, and how does it relate to dictionaries in Python?

Q9.Can lists contain different data types in Python?

Ans.Yes it is characteristic of list which contain ordered collection of various data types.

Q10.Explain why strings are immutable in Python?

ANS. strings in Python are immutable, meaning that once a string is created, its content cannot be changed.

1. Memory efficiency- reuse the same memory for identical strings.

2. Hashability - enabling their use as keys in dictionaries.

3. Simplicity and predictability in string handling.

4. Enhanced security and consistency.

Q11.What advantages do dictionaries offer over lists for certain tasks?

Ans.

Q12. Describe a scenario where using a tuple would be preferable over a list.

Ans. When working with geographic data, such as storing latitude and longitude,
the tuple which provides immutability play a cruicial role in maintaining consistency.

Use a tuple over a list when:

1. The data is immutable and must remain unchanged.

2. You need hashability (e.g., as dictionary keys).

3. Memory efficiency is important, especially for large collections of fixed data.

Q13.How do sets handle duplicate values in Python?

Ans. Sets automatically remove duplicates during creation or when elements are added.

1. If you try to add duplicates manually, they are ignored:

2. When combining sets, duplicates across sets are also removed:

3. Convert a list to a set to remove duplicates:

4. Sets allow fast membership testing because duplicates are eliminated:

Q14. How does the “in” keyword work differently for lists and dictionaries?

Ans.

Q15. Can you modify the elements of a tuple? Explain why or why not?

Ans. No, we cannot modify the elements of a tuple in Python because tuples are immutable. This immutability means that once a tuple is created, its elements cannot be changed, added to, or removed.

Here is why tuple cannot be modified-

1. You cannot modify a tuple because it is immutable.
2. This immutability ensures predictability, hashability, and memory efficiency.
3. Mutable elements inside a tuple can be modified, but the tuple itself    
   remains unchanged.
4. If modification is necessary, you must create a new tuple.

Q16. What is a nested dictionary, and give an example of its use case?

Ans. A nested dictionary is a dictionary within a dictionary. It allows for the storage of data in a hierarchical structure, where each key in the outer dictionary can have a value that is itself a dictionary.

**Example: Storing Employee Data by Department**

Imagine you’re managing an employee database for a company. You can use a nested dictionary to organize employees by department, and each department can have detailed information about individual employees.

company =   

{
    
    "Engineering":
    {
        "E001": {"name": "Shubham", "role": "Software Engineer", "salary": 95000},
        "E002": {"name": "Bob", "role": "DevOps Engineer", "salary": 90000},
    },
    "HR":
    {
        "H001": {"name": "Prerna", "role": "HR Manager", "salary": 70000},
        "H002": {"name": "Gaurav", "role": "Recruiter", "salary": 60000},
    },
}

print(company["Engineering"]["E001"]["name"])


print(company["HR"]["H002"]["role"])


company["Engineering"]["E003"] = {"name": "Eve", "role": "Data Scientist", "salary": 105000}

company["HR"]["H001"]["salary"] = 75000
print(company)

Q17.  Describe the time complexity of accessing elements in a dictionary?

Ans.

Q18.  In what situations are lists preferred over dictionaries?

Ans. Use lists when:

1. The data is ordered, and position matters.

2. Lists are ideal when you need to access elements by their position using an index whereas dictionaries require keys for access

3. If you are storing homogeneous data (all elements of the same type) then lists are preferable where dictioneries are better suited for storing heterogeneous data.

4. If your data does not have a natural key-value relationship, lists are more appropriate.

5. The focus is on memory efficiency and simple numeric operations.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans.

Q20.Explain the difference between a list and a dictionary in terms of data retrieval.

Ans. 1. Access Method = In list the access method is by index (e.g., my_list[0])
where in dictionery is key (e.g., my_dict["key"])

2.In list data are stored in ordered manner where in dictionery it is in key-value pair.

3. List allowed0 duplicates where in dictionery keys must be unique.

**Practical Questions**

Q1. Write a code to create a string with your name and print it?

In [2]:
a = "Shubham"
print(a)

Shubham

Q2.Write a code to find the length of the string "Hello World".

In [3]:
a = "Hello World"
print(len(a))

11

Q3.Write a code to slice the first 3 characters from the string "Python Programming"

In [4]:
a = "Python Programming"
print(a[0:3])

Pyt

Q4.Write a code to convert the string "hello" to uppercase.

In [5]:
a = "hello"
print(a.upper())

HELLO

Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
a = "I like apple"
print(a.replace("apple","orange"))

I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it.

In [13]:
_list = []
for i in range(1,6):
  _list.append(i)
print(_list)

[1, 2, 3, 4, 5]

Q7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [14]:
_list = [1, 2, 3, 4]
_list.append(10)
print(_list)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [19]:
a = [1, 2, 3, 4, 5]
a.remove(3)
print(a)

[1, 2, 4, 5]

Q9  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [20]:
a = ['a', 'b', 'c', 'd']
print(a[1])

b

Q10 Write a code to reverse the list [10, 20, 30, 40, 50].

In [22]:
a = [10, 20, 30, 40, 50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

Q11  Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [28]:
my_tuple = (10, 20, 30 , 30)
print(my_tuple)

(10, 20, 30, 30)

Q12 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [29]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

Q13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [30]:
my_tuple = (1, 2, 3, 2, 4, 2)
my_tuple.count(2)

3

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [31]:
a = ('dog', 'cat', 'rabbit')
a.index("cat")

1

Q15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [32]:
a = ('apple', 'orange', 'banana')
"banana" in a

True

Q16.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [33]:
a = {1, 2, 3, 4, 5}
print(a)

{1, 2, 3, 4, 5}

Q17. Write a code to add the element 6 to the set {1, 2, 3, 4}

In [35]:
a = {1,2,3,4}
a.add(6)
print(a)

{1, 2, 3, 4, 6}

**Q18 to Q24 are same as from Q11 to Q17**